<div class="row mt-5">
    <div class="pd-20 card-box height-100-p col-md-6 m-auto">
        <h5 class="text-center h5 mb-0 emp_name">Ross C. Lopez</h5>
        <p class="text-center text-muted font-14 emp_designation">
            Lorem ipsum dolor sit amet
        </p>
        <div class="profile-info">
            <h5 class="mb-20 h5 text-green">Information</h5>
            <ul>
                <li>
                    <span>Employee Code:</span>
                   <div class="emp_code"></div>
                </li>
                <li>
                    <span>Manager:</span>
                    <div class="emp_manager"></div>
                </li>
                <li>
                    <span>Department:</span>
                    <div class="emp_department"></div>
                </li>
                <li>
                    <span>Designation:</span>
                    <div class="emp_designation"></div>
                </li>
                <li>
                    <span>Mail Id:</span>
                    <div class="emp_mail"></div>
                </li>
                <li class="row">
                    <div class="form-group w-fit-content col-md-6 p-0">
                        <label>Password</label>
                        <input class="form-control form-control-lg emp_password" type="text" disabled>
                    </div>
                </li>
                
            </ul>
            <div class="text-right">
                <button class="btn btn-primary btn-sm " onclick="profile_edit(this)">Edit</button>
                <button class="btn btn-success btn-sm" disabled onclick="change_profile(this)">Save</button>
            </div>
        </div>
        
        
    </div>
</div>